#about-section {
  padding: 0 1rem;
  max-width: 900px; /* example max-width to center content on larger screens*/
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 768px) {
  #about-section {
    padding: 0 2rem;
  }
}

#about-section h1, #about-section p {
  text-align: left;
  margin: 0 auto; /*center text container*/
  padding-left: 1rem; /* Optional: padding to ensure indentation on all screen sizes */
  max-width: 800px; /*prevent paragraphs from stretching too much*/
  
}

@media (min-width: 768px) {
  #about-section h1, #about-section p {
    padding-left: 2rem;
    /* Optional: increased padding for larger screens */
  }
}

@media (min-width: 1024px) {
  #about-section h1, #about-section p {
    padding-left: 0; /*remove padding on larger screens*/
  }
}

/* project page style */
.relative {
  perspective: 1000px; /* Enable 3D perspective for card flipping */
}

.shadow-lg {
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
}

.rounded-lg {
  border-radius: 8px;
}

.absolute {
  transform-style: preserve-3d; /* Preserve 3D transforms */
  backface-visibility: hidden; /* Hide back face during flipping */
}